<template>
    <fieldset>
        <legend><h1>We Meet ept</h1></legend>
        <form>
            <label>
                <span>write you name if y wont</span>
                <input type="text" data-size="lg" data-input-type="user-name" placeholder="you name">
            </label>

            <label style="display: none">
                <span>enter password if you want to create private meet </span>
                <input type="text" data-size="lg" data-input-type="meet-password" placeholder="password">
            </label>

            <div data-role="actions-bar">

                <button data-size="lg" type="button" data-theme="primary" data-action-type="create-meet">
                    create meet
                </button>

                <button data-size="lg" type="button" data-action-type="copy-meet-link">
                    copy meet link
                </button>

                <button data-size="lg" type="button" data-theme="primary" data-action-type="go-to-meet">
                    to meet =>
                </button>
            </div>
        </form>
    </fieldset>
</template>

<script>

    import {APP_STEPS, useAppSteps} from "@/components/appSteps/useAppSteps.js";
    import {meetStore} from "@/store/meetStore";
    import {localUserStore} from "@/store/localUserStore";

    const CREATE_MEET_FORM_ACTION_BAR_MAP = {
        CREATE_MEET: 'create-meet',
        COPY_MEET_LINK: 'copy-meet-link',
        GO_TO_MEET: 'go-to-meet',
    }

    const formTag = this.querySelector('form')

    const userNameInput = formTag.querySelector('[data-input-type="user-name"]')
    const meetPasswordInput = formTag.querySelector('[data-input-type="meet-password"]')

    const actionsBar = formTag.querySelector('[data-role="actions-bar"]')

    const createMeetButton = actionsBar.querySelector(`[data-action-type="${CREATE_MEET_FORM_ACTION_BAR_MAP.CREATE_MEET}"]`)
    const goToMeetButton = actionsBar.querySelector(`[data-action-type="${CREATE_MEET_FORM_ACTION_BAR_MAP.GO_TO_MEET}"]`)
    const copyMeetLinkButton = actionsBar.querySelector(`[data-action-type="${CREATE_MEET_FORM_ACTION_BAR_MAP.COPY_MEET_LINK}"]`)

    const {setStep} = useAppSteps();

    const joinMeet = async () => {
        try {
            goToMeetButton.setAttribute('data-loading', 'true')

            await meetStore.joinMeet()

            goToMeetButton.setAttribute('data-loading', 'false')

            setStep(APP_STEPS.MEETING_STEP)

        } catch (e) {
            console.error('create meet form joinMeet', e)
        }
    }

    const createMeet = async () => {

        try {

            createMeetButton.setAttribute('data-loading', 'true')

            copyMeetLinkButton.disabled = true
            goToMeetButton.disabled = true


            await meetStore.createMeet({password: meetPasswordInput.value})

            if (meetStore.meetId) {
                copyMeetLinkButton.disabled = false
                goToMeetButton.disabled = false
            }

            createMeetButton.setAttribute('data-loading', 'false')
            createMeetButton.disabled = true

        } catch (e) {
            console.log(e)
        }
    }
    const copyMeetHref = async () => {
        console.log('copyMeetHref', window.location.href)
    }

    const onSubmitForm = async (e) => {
        e.preventDefault()
        localUserStore.userName = userNameInput.value
        await createMeet()
    }
    const onActionBarClick = async (e) => {

        const eventTarget = e.target
        e.stopPropagation()
        const {actionType} = eventTarget.dataset

        if (!Object.values(CREATE_MEET_FORM_ACTION_BAR_MAP).includes(actionType)) {
            return
        }

        if (actionType === CREATE_MEET_FORM_ACTION_BAR_MAP.CREATE_MEET) {
            await createMeet()
            return;
        }

        if (actionType === CREATE_MEET_FORM_ACTION_BAR_MAP.COPY_MEET_LINK) {
            await copyMeetHref()
        }

        if (actionType === CREATE_MEET_FORM_ACTION_BAR_MAP.GO_TO_MEET) {
            await joinMeet()
        }
    }

    actionsBar.addEventListener('click', onActionBarClick)
    formTag.onsubmit = onSubmitForm

    copyMeetLinkButton.disabled = true
    goToMeetButton.disabled = true

</script>

<style>

    fieldset {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin: 0 auto;
        border-radius: 8px;
        padding: 1.5rem;
        /*border: 1px solid rgba(0,0,0,0);*/
        /*transition: border-color 0.5s 1s ease ;*/
    }

    fieldset.mounted {
        /*border-color:  currentColor;*/
    }

    legend {
        margin: 0 auto;
        white-space: nowrap;
        text-align: center;
        font-weight: bold;
        /*font-size: 6rem;*/
        /*letter-spacing: -10rem;*/
        /*transition: letter-spacing 0.5s 0.5s ease, opacity 0.3s 0.5s linear , font-size 0.3s 1.3s ;*/
        /*opacity: 0;*/
    }

    /*legend.mounted {*/
    /*    font-size: 2rem;*/
    /*    letter-spacing: 0;*/
    /*    opacity: 1;*/
    /*}*/

    form {
        display: flex;
        flex-direction: column;
        /*transition: max-height  0.5s 1s ease , opacity  0.3s 1s ease  ;*/
        overflow: hidden;
        /*max-height: 0;*/
        /*opacity: 0;*/
    }

    /*form.mounted {*/
    /*    max-height: unset;*/
    /*    opacity: 1;*/
    /*}*/

    form[disabled] {
        opacity: 0.5;
    }

    form[disabled] input,
    form[disabled] button {
        pointer-events: none; /* Отключает реакцию на клики и другие события мыши */
        opacity: 0.5; /* Делает элементы полупрозрачными, чтобы показать, что они неактивны */
    }

    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    label span {
        font-size: 1.4rem;
    }

    [data-role="actions-bar"] {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

</style>



