<template>
    <div class="media-stream">

        <div class="media-stream__user-name-label active" data-role="user-label"></div>

        <video class="media-stream__video"></video>

        <div class="remote-media-stream__status-bar" data-role="status-bar">

            <button class="remote-media-stream__status-bar__audio-status" data-status-type="audio"> audio</button>

        </div>

    </div>
</template>

<script>
    import {MEDIA_TRACK_KIND, PEER_CONNECTIONS_STATE_STATUSES} from "@/constants/constants";
    import {mediaStreams} from "@/store/webRtcStore.js";

    const COMPONENT_CONNECTION_STATE = {
        LOADING: "loading",
        CONNECTED: "connected",
        DISCONNECTED: "disconnected",
    }

    const COMPONENT_CONNECTION_STATE_BY_PEER_STATUS = {
        [PEER_CONNECTIONS_STATE_STATUSES.CONNECTING]: COMPONENT_CONNECTION_STATE.LOADING,
        [PEER_CONNECTIONS_STATE_STATUSES.CONNECTED]: COMPONENT_CONNECTION_STATE.CONNECTED,

        [PEER_CONNECTIONS_STATE_STATUSES.FAILED]: COMPONENT_CONNECTION_STATE.DISCONNECTED,
        [PEER_CONNECTIONS_STATE_STATUSES.CLOSED]: COMPONENT_CONNECTION_STATE.DISCONNECTED,
        [PEER_CONNECTIONS_STATE_STATUSES.DISCONNECTED]: COMPONENT_CONNECTION_STATE.DISCONNECTED,
    }

    const mediaStreamWrapperElement = this.querySelector('.media-stream')
    const videoTagElement = this.querySelector('video')
    const audioStatusButton = this.querySelector('[data-status-type="audio"]')
    const userLabelElement = this.querySelector('[data-role="user-label"]')

    this.props = {

        remoteUserId: '',
        remoteUserName: '',//todo get name from store

        mediaTrackState: {
            audio: false,
            video: false
        },

        peerStatus: PEER_CONNECTIONS_STATE_STATUSES.NEW,
    }


    userLabelElement.innerText = this.props.remoteUserName
    const setComponentStateByPeerStatus = async (peerStatus) => {
        
        if (!Object.keys(COMPONENT_CONNECTION_STATE_BY_PEER_STATUS).includes(peerStatus)) {
            return
        }
        
        const componentState = COMPONENT_CONNECTION_STATE_BY_PEER_STATUS[peerStatus]
        
        mediaStreamWrapperElement.classList.remove(...Object.values(COMPONENT_CONNECTION_STATE))
        mediaStreamWrapperElement.classList.add(componentState)

        if (componentState  === COMPONENT_CONNECTION_STATE.CONNECTED) {
            await setupRemoteMediaStream()
        }


        if (componentState  === COMPONENT_CONNECTION_STATE.DISCONNECTED) {
            this.remove()
        }

    }
    const setupRemoteMediaStream = async () => {
        const {remoteUserId} = this.props

        if (!mediaStreams[remoteUserId]?.video) {
            console.warn(`setupRemoteMediaStream ${remoteUserId} mediaStreams video is empty`)
            return
        }
        videoTagElement.autoplay = true
        const {streams: [remoteVideoStream]} = mediaStreams[remoteUserId][MEDIA_TRACK_KIND.VIDEO]

        if (remoteVideoStream instanceof MediaStream) {
            videoTagElement.srcObject = remoteVideoStream
        }
    }

    const updateAudioStatus = (val = false) => {
        val ? audioStatusButton.classList.add('active') : audioStatusButton.classList.remove('active')
    }

    const updateVideoStatus = (val = false) => {
        if (val) {

            videoTagElement.classList.add('active')
            userLabelElement.classList.remove('active')
            return
        }

        videoTagElement.classList.remove('active')

        userLabelElement.classList.add('active')
    }


    this.watchProp('peerStatus', setComponentStateByPeerStatus)

    this.watchProp('mediaTrackState', ({audio, video}) => {
        updateAudioStatus(audio)
        updateVideoStatus(video)
    })

</script>

<style>
    .remote-media-stream__status-bar {
        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
    }

    .remote-media-stream__status-bar__audio-status {

    }

    .remote-media-stream__status-bar__audio-status.active {
        color: dodgerblue;
    }

    .remote-media-stream__status-bar__video-status {

    }

    .remote-media-stream__status-bar__video-status.active {
        color: dodgerblue;
    }

    /*.media-stream__user-name-label {*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    padding: 0.5rem 1rem 1rem 1rem ;*/
    /*    max-width: calc(var(--media-stream-size) * 1px);*/
    /*    white-space: nowrap;*/
    /*    overflow: hidden;*/
    /*    text-overflow: ellipsis;*/
    /*    text-shadow: var(--main-accent-color) 1px 0 5px; ;*/
    /*    z-index: 1;*/
    /*}*/

    /*.media-stream__user-name-label.active {*/
    /*    position: absolute;*/
    /*    width: 50%;*/
    /*    height: 50%;*/
    /*    max-width: calc( ( var(--media-stream-size)  / 2 ) * 1px);*/
    /*    max-height: calc( ( var(--media-stream-size)  / 2 ) * 1px);*/
    /*    font-size: 5rem;*/
    /*    border-radius: 50%;*/
    /*    top: 50%;*/
    /*    left: 50%;*/
    /*    padding: 0 ;*/
    /*    transform: translate(-50%, -50%);*/
    /*    background-color: var(--main-accent-color);*/

    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*}*/
</style>



