:root {
  --primary-color: rgba(100, 108, 255, 0.67);
  --accent-color-: #1a1a1a;
  --secondary-color: #6C757D;

  --main-text-color: rgba(255, 255, 255, 0.87);

  --main-bg-color:  #242424;

  --danger-color: #DC3545;
  --success-color: #55d373;
}


$primary-color: rgba(100, 108, 255, 0.67);
$accent-color: #1a1a1a;
$secondary-color: #6C757D;

$title-text-color: rgba(255, 255, 255, 1);
$main-text-color: rgba(255, 255, 255, 0.75);
$link-text-color:dodgerblue;

$main-bg-color: #242424;

$danger-color: #DC3545;
$success-color: #55d373;

$base-border-radius: 8px;